
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.book {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book img {
    width: 100%;
    border-radius: 5px;
}

.book h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

.book p {
    color: #666;
}

.book form {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

/* styles.css */

/* Edit button */
.edit-button {
    background-color: hsl(110, 100%, 50%);
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color:  hsl(110, 100%, 40%);
}

.delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}
