/* header.css */

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    border-bottom: #fff;
}

/* Conditional link styles */
nav ul li.authenticated-link,
nav ul li.logged-out-link {
    display: inline-block;
}

