@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #deab5f;
    --primary-color:#312e2e;
}
/*UTILITIES*/
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
/*RESETS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#100e0f
}

/*NAV START*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding-top: 12px;
    font-family: sans-serif;
}

li{
    display: inline;
    list-style: none;
}

li a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/*NAV END*/

.header{
    background: url(./images/bg1\ cup.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: "Playfair Display", serif;
    font-weight: normal;
    /*FLEX BOX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#ffff;
    text-align: center;
    position: relative;
} 

.main-heading{
    position: absolute;
    top: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
}
    
.primary-heading{
    position: absolute;
    bottom: 7rem;
    font-size: 4rem;
    word-spacing: 10px;
    margin-bottom: -40px;
}
.main-button{
    position: absolute;
    bottom: 2rem;
    padding: 10px 30px;
    margin-top: 20px;
    background:transparent;
    background-color: var(--main-color);
    transform: translateY(60px);
}