@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --main-color: #deab5f;
    --primary-color:#312e2e;
}
/*UTILITIES*/
button{
    padding: 10px 30px;
    background: var(--main-color);
    border: none;
    cursor: pointer;
}
/*RESETS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#100e0f
}

/*NAV START*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    padding-top: 12px;
    font-family: sans-serif;
}

li{
    display: inline;
    list-style: none;
}

li a{
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/*NAV END*/

.header{
    background: url(./images/bg1\ cup.jpg);
    
}