
body {
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
}
div{
    display: block;
}

.top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}
h2{color: #66bfbf;
font-family: "Montserrat", sans-serif;
font-size: 2.5rem;
font-weight: normal;
padding-bottom: 10px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.pro{
    text-decoration: underline;
}

.profile img{
    height:150px;
}

.intro{
    margin: auto;
    
}
.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
}
.btn {
    background: #11cdd4;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}

.btn:hover {
    background: #0ea4aa; 
}

.bottom-container {
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

a {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a:hover{
    background-color:#ffffff
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}


