<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- WRAPPER DIV TO CONTAIN CONTENT AND FOOTER -->
    <div class="wrapper">
        <!-- NAVBAR -->
        <%- include('../partials/header') %>

        <h1>Welcome to my blog!</h1>

        <ul>
            <!-- list of blog posts here -->
            <% blogPosts.forEach(post => { %>
                 <li><a href="/pages/<%= post.id %>"><%= post.title %></a></li>
            <% }); %>
        </ul>
    </div>
    <!-- FOOTER -->
    <%- include('../partials/footer') %>
</body>
</html>
