<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using mern stack</title>
</head>
<body>
    <!--NAVBAR-->
    <%- include('../partials/header') %>
    <h1><%= post.title %></h1>
      
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae, doloremque velit assumenda optio reiciendis illo nam recusandae ea quas error natus debitis aspernatur! Incidunt quidem eos atque. Assumenda, molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab porro, atque iure, saepe, voluptate natus expedita dolor molestias esse veritatis possimus ipsam architecto commodi eius corrupti quam libero doloremque eaque?</p>

    

    <!--footer-->
    <%- include('../partials/footer') %>
</body>
</html>