*{
margin: 0;
padding: 0;
box-sizing: border-box;}

#nav1 {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  font-family: sans-serif;
}
#nav1logo {
  font-size: 20px;
  font-style: italic;
  color: #2a55e5;
  font-weight: bold;
}
#nav2logo{
    display: flex;
    font-size: 12px;
    font-style: italic;
    color:  #A4A4A4;;
    font-weight: bold;
}
#nav3logo{
    display: flex;
    flex-direction: column;
    padding-left: 3px;
    color: #FFC200;
    font-weight: bold;
}

