/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav{
    display: flex;
}
.logo{
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color:  #2a55e5;
    font-size: 20px;
}
.logo2{
    color: #9E9E9E;
    font-style: italic;
    font-size: 12px;
    margin-top: 0%;
}
#logo{
    font-style: italic;
    color: #FDD90A;
    font-size: 12px;
}*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
}
