<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title>
    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact Me</a></li>
               <%  if(isAuthenticated){  %>
                    <li class="authenticated-link"><a href="/">Logout</a></li>
               <% } else {  %>
                    <li class="logged-out-link"><a href="/login">Login</a></li>
               <% }  %>
            </ul>
        </nav>
    </header>


</body>
</html>
